python-dotenv
requests
pandas
numpy
psycopg2-binary
scikit-learn
Pillow
beautifulsoup4
matplotlib
python-dotenv
requests
pandas
numpy
psycopg2-binary
beautifulsoup4
PySocks
opencv-python-headless
scikit-learn
matplotlib
Pillow
requests[socks]

